@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@300;400&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
#app {
    overflow: hidden;
}
ul{
    list-style: none;
}
h1  {
    font-size: clamp(1.2rem, 5vw, 3rem);
    margin: 0;
    font-family: 'Playfair Display', serif;
}
a, p, span, h1, h2, h3, h4, h5, label, input, button, legend, div {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a, button, input, textarea {
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
    transform: translateY(-1px);
}
p, li {
    font-size: clamp(0.9rem, 1.3vw, 1.5rem);
}


::-webkit-scrollbar {
  width: 6px; /*thickness*/
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

.no-scroll {
    overflow: hidden !important;
}

/*
#E5E4E2

#1A1A1A*/